/*----------------------------------------------------------------------------------*/
/*SECCION MEDIA QUERYS*/
/*----------------------------------------------------------------------------------*/
/*1024-------------------------------------------*/
@media only screen and (max-width: 1199px) {
  .cont-tit-reg{
    padding-top: 8px;
    text-align: center;
    width: 75%;
  }
  /*Imagen Region Amazonica-----------------------------------------*/
  .img-Amaz{
    top: 48.45%;
    left:34%;
  } 
  /*Imagen Region Andina-------------------------------------------*/
  .img-Andi{
    top: 20.2%;
    left:27.5%;
  }
  /*Imagen Region  Caribe-----------------------------------------*/
  .img-Cari{
    top: 15.5%;
    left:34.5%;
  }
  /*Imagen Region Orinoquia----------------------------------------*/
  .img-Orin{
    top: 36.7%;
    left:50.2%;
  }
  /*Imagen Region Pacifica-----------------------------------------*/
  .img-Paci{
    top: 31.5%;
    left:25%;
  }
  /*Imagen Region Insular------------------------------------------*/
  .img-Insu{
    width: 75px;
    height: 101px;
    background-image: url(Mapa/regInsular_135x161.png);
    background-size: cover;
    position: absolute;
    top: 10%;
    left:15%;
  }
  /*Imagen de fondo 1--------------------------------------------------*/
  .img-Fond-1{
    left: 9.6%;
    top:7.2%;
  }
  /*Imagen de fondo 2--------------------------------------------------*/
  .img-Fond-2{;
    left: 9.6%;
    top:27.2%;
  }
}
/*1024-------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .cont-tit-reg{
    padding-top: 8px;
    text-align: center;
    width: 75%;
  }
  /*Imagen Region Amazonica-----------------------------------------*/
  .img-Amaz{
    top: 48.45%;
    left:34%;
  } 
  /*Imagen Region Andina-------------------------------------------*/
  .img-Andi{
    top: 20.4%;
    left:27.8%;
  }
  /*Imagen Region  Caribe-----------------------------------------*/
  .img-Cari{
    top: 15.8%;
    left:34.8%;
  }
  /*Imagen Region Orinoquia----------------------------------------*/
  .img-Orin{
    top: 36.8%;
    left:50.4%;
  }
  /*Imagen Region Pacifica-----------------------------------------*/
  .img-Paci{
    top: 31.6%;
    left:25%;
  }
  /*Imagen Region Insular------------------------------------------*/
  .img-Insu{
    width: 75px;
    height: 101px;
    background-image: url(Mapa/regInsular_135x161.png);
    background-size: cover;
    position: absolute;
    top: 10%;
    left:15%;
  }
  /*Imagen de fondo 1--------------------------------------------------*/
  .img-Fond-1{
    left: 9.6%;
    top:7.2%;
  }
  /*Imagen de fondo 2--------------------------------------------------*/
  .img-Fond-2{;
    left: 9.6%;
    top:27.2%;
  }
}
/*768-------------------------------------------*/
@media only screen and (max-width: 768px) {
  
}
/*384----------------------------------------------------------------------------*/
@media only screen and (max-width: 411px) {
  /*Imagen header Sena  */
  .q-img-h1{
    width:70px;
  }
  /*Imagen header Colciencias*/
  .q-img-h2{
    width:220px;

  }
  /*Imagen header Cpc oriente*/
  .q-img-h3{
    width:180px;
  }
  /*Lista de la barra de navegacion*/
  .bar-list > li{
    margin:0 auto!important;
    text-align: center;
  }
  /*QUE?-----------------------------------------------------------------------*/
  /*Texto Titulo Seccion 1*/
  .txt-s1-tit{
    z-index: 1;
    font-weight: 800;
    color: #666;
    font-size: 0px;
    animation: an-txt-tit 1s;
    animation-fill-mode: forwards;
  }
  /*Animacion texto Titulo*/
  @keyframes an-txt-tit{
    0%{font-size: 0px;}
    100%{font-size: 20px;}
  }
  /*Cotenedor Objetivos*/
  .cl-bor{
    margin-bottom: 10px;
  }
  /*Imagen Objetivos*/
  .q-img-obj{
    width: 35px;
  }
  /*Titulo Objetivos*/
  .q-tit-obj{
    font-size: 8vw;
  }
  /*Contenido OBjetibos Texto*/
  .cont-obje{
    font-size: 4vw;
  }
   /*Imagen Dirigido a*/
  .q-img-diri{
    width: 35px;
  }
  /*Titulo Dirigido a*/
  .q-tit-diri{
    font-size: 8vw;
  }
  /*texto Contenido Dirigido a*/
  .cont-dirgi{
    font-size: 4vw;
  }
  /*Texto Titulo Coofinanciacion*/
  .txt-cofina{
    font-size: 6vw;
    font-weight: 400;
  }
  /*Texto Dinero Coofinaciacion*/
  .txt-cof-pla{
    font-size: 10vw;
  }
  /*CPC ORIENTE?-----------------------------------------------------------------------*/
  /*Titulo Seccion*/
  .txt-tit-cpc{
    font-size: 7vw;
  }
  /*Imagen centro innovacion*/
  .img-cent-inno{
    width: 100%;
    margin-bottom: 5px;
  }
  /*Texto Nuevo Fin CPC ORIENTE*/
  .q-txt-fin{
    font-size: 6vw;
  }
  /*Imagen Equipo*/
  .img-equip{
    width: 65%;
    margin-bottom: 10px;
  }
  /*Imagen Aliado*/
  .img-aliado{
    width: 65%;
    margin-bottom: 10px;
  }
  /*Texto Desarrollo*/
  .q-txt-desa{
    font-size: 6vw;
  }
  /*CONTACTO?-----------------------------------------------------------------------*/
  /*Iconos de contacto*/
  .q-icon-cont{
    display: none;
  }
    
  /*FOOTER-----------------------------------------------------------------------*/
  /*Texto Contactos*/
  .q-tfo-1{
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
  }
  /*Texto Acceso Atenea*/
  .q-tfo-2{
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
  }
  /*Texto Redes*/
  .q-tfo-3{
    text-align:center;
  }
}
/*360-------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
  /*Imagen header Sena  */
  .q-img-h1{
    width:70px;
  }
  /*Imagen header Colciencias*/
  .q-img-h2{
    width:220px;

  }
  /*Imagen header Cpc oriente*/
  .q-img-h3{
    width:180px;
  }
  /*Lista de la barra de navegacion*/
  .bar-list > li{
    margin:0 auto!important;
    text-align: center;
  }
  /*QUE?-----------------------------------------------------------------------*/
  /*Texto Titulo Seccion 1*/
  .txt-s1-tit{
    z-index: 1;
    font-weight: 800;
    color: #666;
    font-size: 0px;
    animation: an-txt-tit 1s;
    animation-fill-mode: forwards;
  }
  /*Animacion texto Titulo*/
  @keyframes an-txt-tit{
    0%{font-size: 0px;}
    100%{font-size: 20px;}
  }
  /*Cotenedor Objetivos*/
  .cl-bor{
    margin-bottom: 10px;
  }
  /*Imagen Objetivos*/
  .q-img-obj{
    width: 35px;
  }
  /*Titulo Objetivos*/
  .q-tit-obj{
    font-size: 8vw;
  }
  /*Contenido OBjetibos Texto*/
  .cont-obje{
    font-size: 5vw;
  }
   /*Imagen Dirigido a*/
  .q-img-diri{
    width: 35px;
  }
  /*Titulo Dirigido a*/
  .q-tit-diri{
    font-size: 8vw;
  }
  /*texto Contenido Dirigido a*/
  .cont-diri{
    font-size: 5vw;
  }
  /*Texto Titulo Coofinanciacion*/
  .txt-cofina{
    font-size: 6vw;
    font-weight: 400;
  }
  /*Texto Dinero Coofinaciacion*/
  .txt-cof-pla{
    font-size: 10vw;
  }
  /*CPC ORIENTE?-----------------------------------------------------------------------*/
  /*Titulo Seccion*/
  .txt-tit-cpc{
    font-size: 7vw;
  }
  /*Imagen centro innovacion*/
  .img-cent-inno{
    width: 100%;
    margin-bottom: 5px;
  }
  /*Texto Nuevo Fin CPC ORIENTE*/
  .q-txt-fin{
    font-size: 6vw;
  }
  /*Imagen Equipo*/
  .img-equip{
    width: 80%;
    margin-bottom: 10px;
  }
  /*Imagen Aliado*/
  .img-aliado{
    width: 80%;
    margin-bottom: 10px;
  }
  /*Texto Desarrollo*/
  .q-txt-desa{
    font-size: 6vw;
  }
  
  /*CONTACTO?-----------------------------------------------------------------------*/
  /*Iconos de contacto*/
  .q-icon-cont{
    display: none;
  }
  
  /*FOOTER-----------------------------------------------------------------------*/
  /*Texto Contactos*/
  .q-tfo-1{
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
  }
  /*Texto Acceso Atenea*/
  .q-tfo-2{
    text-align: center;
    border: none;
    border-bottom: 1px solid #fff;
  }
  /*Texto Redes*/
  .q-tfo-3{
    text-align:center;
  }
}