/*COLOR TEXTOS-----------------------------------------------------------------*/
/*Texto color CPC 1*/
.txt-cpc-1{
	color:#004889;
}
/*Texto Color CPC 2*/
.txt-cpc-2{
	color: #666;
}

/*VIDEO PORTADA----------------------------------------------------------------*/
#video-port{
	position: fixed;
	top: 0;
	width: 100%;
}
/*----------------------------------------------------------------------------*/
/*ANIMACION INICIO--------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.fade-in{
	opacity: 0;
	animation-name: anim-fade;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
@keyframes anim-fade{
	from {opacity: 0;}
	to {opacity: 1;}
}
/*----------------------------------------------------------------------------*/
/*HEADER INICIO--------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Cabezal principal*/
.hd-inicio{
	height: 300px;
	background-image: url(../assets/portada_2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
/*Cabezal segundario*/
.hd-logo{
	background-color:rgba(255, 255, 255, 0.8);
	padding: 5px 0;
}
/*Imagen SENA*/
.q-img-h1{
	width:80px;
}
/*Imagen COLCIENCIAS*/
.q-img-h2{
	width:260px;
	margin-left: 5px;
}
/*Imagen CPC*/
.q-img-h3{
	 width:200px;
}
/*Imagenes animacion*/
.img-anim{
	margin-right: 200px;
	animation: anim-log 2s;
	animation-fill-mode: forwards;
}
/*Animacion Imagen logo CPC*/
@keyframes anim-log{
	0%{margin-right: 200px;}
	100%{margin-right: 0px;}
}
/*----------------------------------------------------------------------------*/
/*BARRA DE NAVEGACION--------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*Color de la Barra*/
.bck-navbar{
	background-color: #0099A5!important;
	padding: 10px 0;
}
/*Lista De la Barra*/
.bar-list{
	margin:0 auto!important
}
/*Links Barra de Navegacion*/
ul > li > a{
	font-size: 15px;
	margin-left: 15px!important;
	margin-right: 15px!important;
	color: #fff!important;
	width: 120px;
}
/*Hover links Texto*/
.links:hover{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	border-radius: 10px;
	transition: border 0.5s, border-radius 1s;
	background-color: rgba(255, 255, 255, 0.2);
}
/*Hover Link Imagen*/
.link-img:hover{
	width: 55px;
	transition: width 0.5s;
}
/*Link Activo*/
.link-active{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	border-radius: 10px;
	transition: border 0.5s, border-radius 1s;
	background-color: rgba(255, 255, 255, 0.2);	
}
/*Boton responsive nav bar*/
.bt-nav-res{
	width: 60px;
	height: 40px;
	padding-top: 8px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);

}
/*SECCION : QUE-------------------------------------------------------------------------------------*/
/* Texto titulo */
.txt-s1-tit{
	z-index: 1;
	font-weight: 800;
	color: #666;
	font-size: 0px;
	animation: an-txt-tit 1s;
	animation-fill-mode: forwards;

}
/*Animacion texto Titulo*/
@keyframes an-txt-tit{
	0%{font-size: 0px;}
	100%{font-size: 25px;}
}
/*Contenido Convocatoria-------------------------------------------*/
/*Contenedor Seccion Convocatoria*/
.cont-sec-2{
	
}
/*Imagen Objetivos*/
.q-img-obj{
	float: left;
	width:50px;
}
/*Imagen Dirigido a*/
.q-img-diri{
	float: left;
	width:50px;
}
/*Contenedor Contenido de Columna*/
.cl-bor{
	border: 1px solid #D5D5D5;
	padding: 10px;
}
/*Boton Terminos de Referencia*/
.bt-term{
	display: block;
	width: 100%;
	height: 50px;
	border-top: 1px solid #004889;
	border-bottom: 1px solid #004889;
	padding-top: 8px;
	color: #0099A5;
	margin: 1px 0!important;
}
.bt-term:hover{
	background-color: rgba(0, 153, 165, 1);
	border-radius: 10px;
	color: #fff;
	transition: background-color 0.5s, border-radius 0.3s;

}
/*Titulo cofinaciacion*/
.txt-cofina{
	font-weight: 800;
	color: #666;
}
/*Texto cofinanciacion dinero*/
.txt-cof-pla{
	font-size: 5vw;
	color: #004889;
}
/*SECCION QUE ES EL CPC ORIENTE--------------------------------------------------------------------------------------*/
/*Texto titulo*/
.txt-tit-cpc{
	z-index: 1;
	font-weight: 800;
	color: #666;
}
/*SECCION CUANDO-----------------------------------------------------------------------------------------------------*/
/*Contenedor Instrucciones*/
/*Paso1*/
.cont-instruc-p1{
	border-right: 1px solid #D5D5D5;	
}
/*Paso2*/
.cont-instruc-p2{
	border-right: 1px solid #D5D5D5;
}
/*Paso3*/
.cont-instruc-p3{
	border-right: 1px solid #D5D5D5;
}
/*Paso4*/
.cont-instruc-p4{

}
/*Contenedor Mapa de Regiones*/
.cont-mapa-regiones{

}
/*Contenedor Mapa Selecciones--------------------------------------------------------------*/
.cont-map{
	width: 100%;
	height: 750px;
	border: 1px solid #D5D5D5;
	margin: 0 auto;
}
/*Imagen Mapa regiones*/
.map-regiones{
	width: 100%;
	height: 100%;
	background-image: url(Mapa/fondo.png);
	background-repeat: no-repeat;
	background-position: center;
}
/*Punto de Seleccion de Region Amazonia*/
.p-map-amazo{
	font-size: 25px;
	position: absolute;
	top: 68%;
	left: 49%;
	cursor: pointer;
	color: #004899;
}
.p-map-amazo:hover{
	color: #fff;
}
/*Punto de Seleccion de Region Central*/
.p-map-cent{
	font-size: 25px;
	position: absolute;
	top: 51%;
	left: 43.5%;
	cursor: pointer;
	color: #004899;

}
.p-map-cent:hover{
	color: #fff;
}
/*Punto de Seleccion de Region Orinoquia*/
.p-map-orin{
	font-size: 25px;
	position: absolute;
	top: 45%;
	left: 58%;
	cursor: pointer;
	color: #004899;

}
.p-map-orin:hover{
	color: #fff;
}
/*Punto de Seleccion de Region Pacifico*/
.p-map-pacifi{
	font-size: 25px;
	position: absolute;
	top: 48%;
	left: 34%;
	cursor: pointer;
	color: #004899;

}
.p-map-pacifi:hover{
	color: #fff;
}
/*Punto de Seleccion de Region Antioquia y Eje Cafetero*/
.p-map-antieje{
	font-size: 25px;
	position: absolute;
	top: 36.5%;
	left: 36%;
	cursor: pointer;
	color: #004899;

}
.p-map-antieje:hover{
	color: #fff;
}
/*Punto de Seleccion de Region Santanderes*/
.p-map-santan{
	font-size: 25px;
	position: absolute;
	top: 34%;
	left: 46%;
	cursor: pointer;
	color: #004899;

}
.p-map-santan:hover{
	color: #fff;
}
/*Punto de Seleccion de Region Caribe*/
.p-map-cari{
	font-size: 25px;
	position: absolute;
	top: 24%;
	left: 42%;
	cursor: pointer;
	color: #004899;

}
.p-map-cari:hover{
	color: #fff;
}
/*Contenedor Titulo Regiones Mapa*/
.cont-tit-reg{
	padding-top: 8px;
	text-align: center;
}

/*Departamentos y Eventos---------------------------------------------------------------------*/
/*Contenedor Departamentos*/
.cont-dep{

}
/*Contenedor Titulo departamentos*/
.cont-tit-dep{
	margin-bottom: 1px;
	/*width:100%;*/
}
/*Contenedor Listado de departamentos*/
.cont-list-dep{
	
}

/*SECCION : FOOTER---------------------------------------------------------------------------------------------------*/
/*Contenedor footer*/
.foot{
	color: #fff;
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #0099A5!important;
}
/*Texto Contacots*/
.q-tfo-1{
	border-right: 1px solid #fff;
}
/*Texto Acceso Atenea*/
.q-tfo-2{
	border-right: 1px solid #fff;
}

/*Texto Copyright*/
.txt-copy{
	border-bottom: 1px solid #fff;
}
/*Link Copy*/
.copy-link{
	text-decoration: none;
	color: #FFF;
}
.copy-link:hover{
	text-decoration: none;
	color: #004889;
}
/*------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------BACKEND STYLES--------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------*/

/*LOGIN--------------------------------------------------------------------------------------------*/
/*background del login*/
.bg-login{
	background-color: #0099A5;
}
/*Contenedor Formulario*/
.cont-form{
	position: relative;
	margin: 0 auto;
	width: 512px;
	height: 512px;
	top: 250px;
	background-image: url(../assets/at-login.png);
	background-size: contain;
	animation: anim-logs 1s;
	animation-fill-mode: forwards;
}
@keyframes anim-logs{
	0%{width: 0;height: 0;}
	100%{width: 512px; height: 512px;}
}
/*formulario*/
.form{
	position: relative;
	top: 200px;
	margin: 0 auto;
	width: 280px;
	height: 300px;
	animation: anim-for 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	opacity: 0;
}
.form > div > input{
	border: none!important;
	background: none!important;
	border-bottom: 1px solid #0099A5!important;
}
@keyframes anim-for{
	0%{opacity: 0;}
	100%{opacity: 1;}
}