label{
	font-weight: bold;
	color: #787878;
}
/*CONTENEDOR DEL CASCARON-------------------------------------------------------------------*/
.cont-casc{
	height: 100vh;	
}
/*Contenedor para el body*/
.cont-bdy{
	padding: 20px 5px;
}
/*Contenedor Caractrerizacion*/
#prereg-module{
	padding: 15px;
}
/*BARRA LATERAL NAVEGACIÓN---------------------------------------------------------------------*/
/*Barra lateral*/
.sidenav{
	width: 185px;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 20;
	left: 10;
	overflow-x: hidden;
}
/*Cabezal Barra lateral*/
.hd-nav{
	color: #fff;
	width: 100%;
	padding: 10px;
}
/*Titulo nombre app*/
.tit{
	margin-top: 10px;
	margin-right: 15px;
}
/*Imagen Titulo*/
.img-tit{
	border: 1px solid #fff;
}
/*Grupo de botones*/
.bt-grp{
	margin: 0 auto;
}
/*MODULO INDEX INICIAL---------------------------------------------------------------------*/
/*Contenedor del titulo*/
.cont-tit-ind{

}
/*TABLAS ASISTENCIA ENVENTOS-------------------------------------------------------------------*/
/*Contenedor General*/
#tabla-caracterizacion{
	padding: 15px;
	display: none;
}
/*Contenedor de la tabla*/
.cont-table{
	margin: 0 auto;
	/*border: 1px solid red;*/
}
/*MODULO CREAR EVENTOS---------------------------------------------------------------------*/
/*Contenedor General del modulo*/
#event-module{
	padding: 10px;
}
/*Cabezal del evento*/
.hd-event{
	padding: 20px;
	border-radius: 5px;
	color: #666666;
}
/*Contenedor Formulario Eventos*/
.form-event{
	padding: 10px;
}
/*SCROLL BAR CONFIG---------------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}